body {
    font-size: 0.8rem !important;
}

.cal-sans {
    font-family: 'Cal Sans', sans-serif !important;
}

.dashboard-main-body {
    width: 100% !important;
    padding: 30px !important;
    max-width: 1200px !important;
    margin: 0px auto !important;
}

.fw-500 {
    font-weight: 500 !important;
}

/* Sidebar Styling */

.sidebar-menu li a {
    font-size: .83rem;
}

.sidebar-menu li a .menu-icon {
    font-size: 1rem !important;
    margin-inline-end: 0.3rem;
}


/* Button styling */
.btn {
    font-size: 0.75rem !important;
}

.btn-sm i {
    font-size: 0.75rem !important;
    margin-right: 5px;
    ;
}



/* Modal Styling */
.modal-header {
    border-bottom: none !important;
    padding: 1rem 1.5rem !important;
}

.modal-body {
    padding: 1rem 1.5rem !important;
}

.modal-footer {
    border-top: none !important;
    padding: 1rem 1.5rem !important;
}

.modal-content {
    border-radius: 15px !important;
}

.modal-title {
    font-size: 1.375rem !important;
    font-weight: 500 !important;
    font-family: 'Cal Sans', sans-serif !important;
}

.modal-footer .btn {
    font-size: 0.875rem !important;
    padding: 8px 26px !important;
}


/* Form Inputs Styling */

.form-label {
    margin-bottom: .5rem;
    font-weight: 600;
    color: #29343d;
    font-size: 13px !important;
}

.form-control::placeholder {
    font-size: 13px !important;
    font-weight: 400 !important;
}

.form-control,
.form-select,
.select2-container .select2-selection--single {
    border: 1px solid #ececec;
    border-top-color: rgb(236, 236, 236);
    border-right-color: rgb(236, 236, 236);
    border-bottom-color: rgb(236, 236, 236);
    border-left-color: rgb(236, 236, 236);
    border-top-color: #ececec;
    border-right-color: #ececec;
    border-bottom-color: #ececec;
    border-left-color: #ececec;
    border-radius: 5px;
    height: 40px !important;
    font-size: 13px;
    width: 100%;
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-300-rgb), var(--bs-border-opacity)) !important;
    box-shadow: 0 .125rem .25rem rgba(var(--bs-black-rgb), .075) !important;
    /* padding-right: 15px !important; */
}

.form-select {
    /* padding-right: 2.5rem !important; */
    background-position: right 0.75rem center !important;
}
