@import url('../wowdash/css/remixicon.css');
@import url('../wowdash/css/bootstrap.min.css');
@import url('../wowdash/css/apexcharts.css');
@import url('../wowdash/css/dataTables.min.css');
@import url('../wowdash/css/editor-katex.min.css');
@import url('../wowdash/css/editor.atom-one-dark.min.css');
@import url('../wowdash/css/editor.quill.snow.css');
@import url('../wowdash/css/flatpickr.min.css');
@import url('../wowdash/css/full-calendar.css');
@import url('../wowdash/css/jquery-jvectormap-2.0.5.css');
@import url('../wowdash/css/magnific-popup.css');
@import url('../wowdash/css/slick.css');
@import url('../wowdash/css/prism.css');
@import url('../wowdash/css/file-upload.css');
@import url('../wowdash/css/audioplayer.css');
@import url('../wowdash/css/style.css');
@import url('../wowdash/css/customize.css');
