.urbanist {
    font-family: 'Urbanist', sans-serif;
}

.Avante {
    font-family: 'Avante' !important;
}

.cal-sans {
    font-family: 'Cal Sans', sans-serif;
}

.manrope {
    font-family: 'Manrope', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ebeef4 !important;
}

.btn {
    font-family: 'Poppins', sans-serif !important;
    /* font-size: 13px !important; */
    text-transform: capitalize !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    width: 100% !important;
    display: block !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    font-size: 0.8rem !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container {
    display: block !important;
    width: 100% !important;
}

a {
    color: var(--bs-black);
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    padding: 0.6rem 2.14rem;
    font-size: 12px;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    border-radius: 3px;
}

.bootbox-body {
    font-size: 18px;
}

.bootbox .modal-header {
    display: none;
}

.form-select {
    padding: .575rem .75rem;
}

.dropdown-item {
    font-size: 12px;
    font-weight: 500;
}

body {
    font-family: 'Avante' !important;
    font-weight: 500;
    font-size: 12px;
    /* background-color: #fff; */
}

/* h5 {
            font-family: 'Manrope', sans-serif !important;
        } */

.profile .profile-header .profile-header-cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
}

.table>thead>tr>th {
    font-weight: 500;
}

.table>tbody>tr>td {
    font-weight: 500;
}

.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.glass {
    filter: blur(9px) !important;
}

.form-control-sm {
    padding: .6rem .5rem;
}

.nav-link {
    color: #000;
    font-weight: 500;
}

.custom-table>tbody>tr>td {
    font-weight: 500;
    font-size: 12px;
}

.custom-table>thead>tr>th {
    font-weight: 500;
    font-size: 12px;
}

.nav-link.active {
    /* color: blue !important; */
}

.nav-pills .nav-link {
    border-radius: var(--bs-nav-pills-border-radius) !important;
}

.form-control,
.form-select,
.select2-container .select2-selection--single {
    border: 1px solid #ececec;
    border-top-color: rgb(236, 236, 236);
    border-right-color: rgb(236, 236, 236);
    border-bottom-color: rgb(236, 236, 236);
    border-left-color: rgb(236, 236, 236);
    border-radius: 5px;
    height: 40px;
    /* box-shadow: none; */
    /* padding-left: 20px; */
    font-size: 12px;
    width: 100%;

    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-300-rgb), var(--bs-border-opacity)) !important;

    box-shadow: 0 .125rem .25rem rgba(var(--bs-black-rgb), .075) !important;
}

.form-control:focus {
    outline: none !important;
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1) !important;
}


.datatables>tbody>tr>td,
.datatables>tfoot>tr>td {
    padding-right: 20px;
}

.table-warning {
    --bs-table-bg: #ffab00 !important;
}

.table-danger {
    --bs-table-bg: #d60000 !important;
    --bs-table-color: #fff !important;
}

.table-danger a {
    color: #fff !important;
}

.nav-link {
    font-size: 14px;
}

.card-body {
    color: #000;
}

.note-editor.note-frame .note-toolbar .note-btn-group>.note-btn,
.note-editor.note-frame {
    color: #000;
}

:root {
    --bs-body-color: #000;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: var(--bs-border-color);
    --bs-nav-tabs-border-radius: 10px;
    --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
    --bs-nav-tabs-link-active-color: #fff;
    --bs-nav-tabs-link-active-bg: #635bff;
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) #635bff;
}

i[class^="fi-sr-"]::before,
i[class^="fi-rr-"]::before,
i[class*=" fi-sr-"]::before,
i[class*=" fi-brands-"]::before,
span[class^="fi-sr-"]::before,
span[class*="fi-sr-"]::before {
    line-height: 1.5 !important;
}

i[class*="fi-brands-"] {
    line-height: 1.5 !important;
}

.fi-sr {
    margin-top: 6px !Important;
}

.fi {
    vertical-align: middle !important;
}

.fi::before {
    vertical-align: middle !important;
    line-height: 1.5 !important;
}

.table-dark th {
    color: #fff !important;
}

.table-sm> :not(caption)>*>* {
    padding: .5rem !important;
}


.modal-header, .modal-body, .modal-footer {
    padding: 1rem 2rem !important;
}
