body {
    font-size: 10px !important;
    color: #000 !important;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 10px;
}

@media print {
    .no-print {
        display: none;
    }
}
