@font-face {
    font-family: 'Avante';
    font-weight: 700;
    src: url('{{ asset("assets/font/Avante/ITCAvantGardePro-Bold.otf") }}');
}

@font-face {
    font-family: 'Avante';
    font-weight: 600;
    src: url('{{ asset("assets/font/Avante/ITCAvantGardePro-Demi.otf") }}');
}

@font-face {
    font-family: 'Avante';
    font-weight: 500;
    src: url('{{ asset("assets/font/Avante/ITCAvantGardePro-Md.otf") }}');
}

@font-face {
    font-family: 'Avante';
    font-weight: 400;
    src: url('{{ asset("assets/font/Avante/ITCAvantGardePro-Bk.otf") }}');
}

@font-face {
    font-family: 'Avante';
    font-weight: 300;
    src: url('{{ asset("assets/font/Avante/ITCAvantGardePro-XLt.otf") }}');
}


.urbanist {
    font-family: 'Urbanist', sans-serif;
}

.Avante {
    font-family: 'Avante' !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
    font-weight: 400;
}

.btn {
    font-family: 'Poppins', sans-serif !important;
    /* font-size: 13px !important; */
    text-transform: capitalize !important;
}


div.dataTables_wrapper div.dataTables_length select {
    width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    width: 100% !important;
    display: block !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    font-size: 0.8rem;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container {
    display: block !important;
    width: 100% !important;
}

a {
    color: var(--bs-black);
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    padding: 0.6rem 2.14rem;
    font-size: 12px;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    border-radius: 3px;
}

.bootbox-body {
    font-size: 18px;
}

.bootbox .modal-header {
    display: none;
}

.form-select {
    padding: .575rem .75rem;
}

.dropdown-item {
    font-size: 12px;
    font-weight: 500;
}

body {
    font-family: 'Avante' !important;
    font-weight: 500;
    /* background-color: #fff; */
}

.profile .profile-header .profile-header-cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
}

.table>thead>tr>th {
    font-weight: 500;
}

.table>tbody>tr>td {
    font-weight: 500;
}

table.dataTable.table-sm>thead>tr>th,
.datatables>tbody>tr>td {
    padding: 6px;
}

.datatables>tbody>tr>td {
    padding: 6px !important;
    padding-right: 6px !important;
}

.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.glass {
    filter: blur(9px) !important;
}

.nav-pills .nav-link {
    border-radius: 17px !important;
}


.bg-green {
    background-color: #2F887C !important;
}

/* Pad the app-container to 100px */
.app-content {
    padding-bottom: 200px;
}

.active-menu-item {
    color: #1f6cff !important;
}

.bg-light {
    background-color: #f0f0f0 !important;
}

.nav-link {
    font-size: 12px !important;
    border-radius: 5px !important;
}
